body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #4a90e2;
    color: white;
    padding: 30px;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

h2 {
    color: #4a90e2;
}
