* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0,0,0,0.6);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00f2fe;
}

.logo {
    color: #00f2fe;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 20px;
    flex-wrap: wrap;
}

.hero-text span {
    color: #00f2fe;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #00f2fe;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

.profile-pic {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 5px solid #00f2fe;
    box-shadow: 0 0 25px #00f2fe;
    object-fit: cover;
    display: block;
}

section {
    padding: 80px 20px;
    text-align: center;
    width:100%;
}
section h2{
    font-size: 32px;
    margin-bottom: 20px;
}  

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    transition: 0.3s;
}
.card h3{
    white-space: nowrap;
}

.card:hover {
    transform: scale(1.1);
    background: rgba(0,242,254,0.3);
}

footer {
    padding: 20px;
    text-align: center;
    background: rgba(0,0,0,0.7);
}

/* About Section */
#about {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    color: #222;
}

/* Projects Section */
#projects {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
}

/* Contact Section */
#contact {
    background: linear-gradient(135deg, #11998e, #38ef7d);
    color: #111;
}
.resume-btn {
    background: transparent;
    border: 2px solid #00f2fe;
    color: #00f2fe;
    margin-left: 15px;
}

.resume-btn:hover {
    background: #00f2fe;
    color: black;
}
